<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Autocapture CDN -->
    <script src="https://prod-web-plugins.s3.amazonaws.com/autocapture/autocapture.js" defer></script>
    <!-- Liveness optimization -->
    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0.7.18/src/uaparser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtcadapter/6.2.1/adapter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/siema@1.5.1/dist/siema.min.js"> </script>
    <!-- Liveness CDN -->
    <script src="https://sandbox-webplugins.s3.amazonaws.com/liveness/js/liveness.js" defer></script>
    <!-- API Handler -->
    <script src="../js/APIHandler.js" defer></script>
    
    <title>Document</title>
</head>
<body>
    <form id='doc-form' action="post">
        <label for="doc-select">Elige tu documento</label>
        <select id="doc-select" name="doc-select">
            <option value="CHL1">Documento de identidad chileno antiguo</option>
            <option value="CHL2">Documento de identidad chileno nuevo</option>
            <option value="PER1">Documento de identidad peruano antiguo azul</option>
            <option value="PER2">Documento de identidad peruano blanco (con chip contact a la vista)</option>
            <option value="PER3">Carné de extranjería peruano</option>
            <option value="PER4">Permiso temporal de permanencia (PTP) peruano</option>
            <option value="PER5">Documento de identidad peruano nuevo (con NFC, año 2020)</option>
            <option value="ARG1">Documento de identidad argentino antiguo</option>
            <option value="ARG2">Documento de identidad argentino nuevo</option>
            <option value="MEX1">Documento de identidad mexicano antiguo (IFE)</option>
            <option value="MEX2">Documento de identidad mexicano (INE)</option>
            <option value="MEX3">Documento de identidad mexicano nuevo (INE 2020)</option>
        </select>
        <button type="submit" id='doc-button'>Aceptar</button>
        
    </form>
    <form class= 'front-form' action="get">
        <div class='autocapture-front'></div>
        <button type="submit" id='front-button'>Aceptar</button>
    </form>
    <form class= 'back-form' action="get">
        <div class='autocapture-back'></div>
        <button type="submit" id='back-button'>Aceptar</button>
    </form>
    <div class='liveness'></div>
</body>
</html>